<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.css">
  <title>Login Page</title>
</head>
<body>
  <div class="container">
    <section>
      <h2>LOGIN</h2>
      <form action="#" method="POST">
        <div class="login-info">
          <div class="text-box">

            <div class="login-username">
              <label for="">
                Username
              </label><br>
              <input type="text" class="input-text-box" required size="40">
            </div>

            <div class="login-password">
              <label for="">
                Password
              </label><br>
              <input type="password" class="input-text-box" required size="40">
            </div>
          </div>

          <div class="login-submit">
            <button type="submit" class="submit-button">Login</button>
          </div>
        </div>
      </form>
  </section>
  </div>
</body>
</html>